<template>
  <div>
    <v-app-bar
      style="box-shadow: none; width: 95%;height: 80px!important; background-color: black!important;z-index: 2"
    >
      <div class="header-brand">
        <img
          style="
          margin-left: 60px;
          margin-top: 15px;
          "
          src="../static/logo.png"
          height="18"
          width="110"/>

      </div>
      <v-spacer></v-spacer>
      <!--<div style="align-items: center;display: flex; flex-flow: row nowrap">-->
      <span to="home" class="nav__link">Home</span>
      <span to="ourMission" class="nav__link" @click.stop="rightDrawer = !rightDrawer"
            @click="routeclick('#ourMission')">Our mission</span>
      <span to="whatWeDo" class="nav__link" @click.stop="rightDrawer = !rightDrawer" @click="routeclick('#what')">What we do</span>
      <span to="ourSolution" class="nav__link" @click.stop="rightDrawer = !rightDrawer"
            @click="routeclick('#ourSolution')">Our solution</span>
      <span to="subscribe" class="nav__link" @click.stop="rightDrawer = !rightDrawer" @click="routeclick('#subscribe')">Subscribe</span>
      <span to="ourWork" class="nav__link" @click.stop="rightDrawer = !rightDrawer" @click="routeclick('#work')">Our work</span>
      <span to="contact" class="nav__link" @click.stop="rightDrawer = !rightDrawer" @click="routeclick('#contact')">Contact</span>
      <!--</div>-->


    </v-app-bar>

    <!--    left side component-->
    <div
      style="background-color: black; width: 5%; height: 90%!important;position: absolute;z-index: 2"
      v-model="drawer"
    >
      <div style="position: absolute;padding-top: 500px">
        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4 white--text"
          icon
        >
          <v-icon size="18px">
            {{ icon }}
          </v-icon>
        </v-btn>
      </div>

    </div>

    <!--    right side component-->
    <v-navigation-drawer
      persistent
      v-model="rightDrawer"
      style="z-index: 1"
      temporary
      width="50%"
      right
      fixed
    >
      <OurMission id="ourMission"/>
      <whatwe-do id="what"/>
      <OurSolutions id="ourSolution"/>
      <Subscribe id="subscribe"/>
      <OurWork id="work"/>
      <Contact id="contact"/>

    </v-navigation-drawer>
  </div>
</template>

<script>
import OurMission from "./allcomponent/OurMission"
import Contact from "./allcomponent/Contact";
import WhatweDo from "./allcomponent/WhatweDo";
import OurSolutions from "./allcomponent/OurSolutions";
import Subscribe from "./allcomponent/Subscribe";
import OurWork from "./allcomponent/OurWork";

export default {
  name: "Header",
  components: {OurWork, Subscribe, OurSolutions, WhatweDo, OurMission, Contact},
  data() {
    return {
      drawer: true,
      rightDrawer: true,


      icons: [
        'mdi-facebook',
        'mdi-twitter',
        'mdi-linkedin',
        'mdi-instagram',
      ],
    }
  },
  methods: {

    routeclick(route) {
      this.$vuetify.goTo(route)
    }
  }
}
</script>

<style scoped>
.nav__link {
  margin-top: 15px;
  margin-right: 1% !important;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: white;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.img {
  width: auto;
  height: auto;
}

.header-brand {
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
}
</style>
