<template>
  <v-container>
    <v-row>
      <v-col class="my-4" >
        <div style="padding-top: 50px; padding-left: 50px">
          <h2 style="font-size: 24px; padding-top: 20px!important;">Our Mission</h2>
          <p style="padding-top: 40px">Mauris ut sem elementum, tristique velit sed, volutpat mauris. Ut interdum nibh
            sit amet imperdiet
            condimentum. Nulla sed tellus placerat, vehicula risus ac, sollicitudin quam. Quisque pharetra porta libero,
            a
            sagittis nisl tristique non. Etiam sapien purus, cursus eu pulvinar et, tempor sit amet ipsum. Sed a nisl
            sit
            amet lorem dictum hendrerit.</p>
        </div>

      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Home"
}
</script>

<style scoped>
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-family: MingLiU-ExtB !important;
  color: inherit;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}
</style>
