<template>
  <section>
    <v-container style="background-color: #f7f7f7" class="weDo">
      <v-row class=" my-12">
        <v-col>
          <div style="padding-left: 50px">
            <h2 style="margin-bottom: 40px">What we Do</h2>
            <p>
              Fusce massa dolor, mattis sed ultrices ut, placerat ut leo. Donec sed fringilla lectus, non vulputate
              orci.
              Integer id libero euismod, interdum ligula vel, porttitor magna. Sed euismod maximus finibus. Pellentesque
              tempus ultricies nisi at cursus. Nulla at nisi tellus. Suspendisse potenti.
            </p>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col md="6">
          <v-icon
            style="font-family: themify,serif"
            large
            color="green darken-2"

          >
            {{ icons }}
          </v-icon>

        </v-col>
        <v-col md="6">
          <v-icon
            large
            color="blue darken-2"
          >
            mdi-message-text
          </v-icon>


        </v-col>
      </v-row>
    </v-container>

  </section>
</template>

<script>
export default {
  name: "WhatweDo",
 data:{

 }

}
</script>

<style scoped>
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-family: MingLiU-ExtB !important;
  color: inherit;
}

.weDo {
  position: relative;
}
</style>
