<template>
  <v-app class="img">
    <Header/>
    <v-main>
      <nuxt/>
    </v-main>
  </v-app>
</template>

<script>
import Header from "../components/Header";

export default {
  components: {Header},

}
</script>
<style>
.img {
  background-image: url("assets/download.jpg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
</style>
