<template>
    <div class="container align-self-md-center text-center" style="padding-top: 200px;z-index: 0">
      <h1 class="mb-3">We bulid beautiful digital experiences.</h1>
      <p class="lead mb-5">Everything, what we create – from design, code or advertising it’s building a solid
        brand.</p>
      <v-btn style="">Learn more</v-btn>
      <v-btn>Subscribe</v-btn>
    </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'
import Contact from "../components/allcomponent/Contact";
import OurSolutions from "../components/allcomponent/OurSolutions";
import OurWork from "../components/allcomponent/OurWork";
import Subscribe from "../components/allcomponent/Subscribe";
import WhatweDo from "../components/allcomponent/WhatweDo";

export default {
  components: {
    WhatweDo,
    Subscribe,
    OurWork,
    OurSolutions,
    Contact,
    Logo,
    VuetifyLogo
  }
}
</script>
<style>
.container, .container-fluid, body, section {
  position: relative;
}

.text-center {
  text-align: center !important;
}

.h1, h1 {
  font-size: 40px;
  line-height: 3.75rem;
  font-family: Montserrat, Helvetica, sans-serif !important;
  font-weight: 300;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.h1, h1 {
  font-size: 3rem;
  line-height: 3.75rem;
}

.btn-norounded {
  border-radius: 0 !important;
}

</style>
